{% extends "/admin/baseadmin.html.twig" %}
{% block title %} {% endblock %}
{% block body %}
<h1>Ошибка авторизации!</h1>
    <a href="{{ path('adminka_autorization') }}">пройти еще раз авторизацию</a>
{% endblock %}