{% extends "/user/baseuser.html.twig" %}
{% block title %} {% endblock %}
{% block body %}

    <table border="1">
        <caption>Пользователи</caption>
        <tr>
            <th> id </th>
            <th> имя </th>
            <th> фамилия </th>
            <th> удалить </th>
        </tr>
        <tr>
            {% for user in users %}
            <td> {{ user.id }} </td>
            <td> {{ user.name }} </td>
            <td> {{ user.lastname }} </td>
            <td class="button-del"><a href="{{ path('scorp_symfony_del_user', {'id': user.id}) }}">delete</a></td>
        </tr>
            {% endfor %}
    </table>

{% endblock %}