{% extends "/user/baseuser.html.twig" %}
{% block title %} {% endblock %}
{% block body %}
    <H1>Страница тестовая</H1>
    <h2>Все пользователи</h2>
    <ul>
        {% for user in users %}
            <li>
                <b>id = </b>{{ user.id }}
                <b>name</b> {{ user.name }}
                <b>lastname</b>{{ user.lastname }}
                <br><br>
            </li>
        {% endfor %}
    </ul>

{% endblock %}